Lead Qualification Pipeline.json
{
  "name": "Lead Qualification Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-ingest",
        "options": {
          "responseCode": {
            "values": {}
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "9a6bf327-a7aa-4772-87f1-fc93eaac6b10",
      "name": "Webhook",
      "webhookId": "152ad644-e8d0-44a7-a820-9fce6d433fce"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json;\n\nconst name = String(body.name || '').trim();\nconst email = String(body.email || '').trim();\nconst company = String(body.company || '').trim();\nconst message = String(body.message || '').trim();\nconst budget = String(body.budget || '').trim();\nconst timeline = String(body.timeline || '').trim();\nconst source = String(body.source || 'webhook').trim();\n\nconst emailValid = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n\nlet completeness = 0;\nif (name) completeness += 20;\nif (emailValid) completeness += 25;\nif (company) completeness += 15;\nif (message.length >= 10) completeness += 25;\nif (budget) completeness += 10;\nif (timeline) completeness += 5;\n\nreturn [{\n  json: {\n    name: name || 'Unknown',\n    email: emailValid ? email : 'invalid',\n    company: company || 'Not specified',\n    message: message || 'No message provided',\n    budget: budget || 'Not specified',\n    timeline: timeline || 'Not specified',\n    source: source,\n    completeness: completeness,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "8a4fc2fc-c34e-4db9-9660-fe3eb2e9aebf",
      "name": "Data Validator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this lead:\n\nData Completeness Score: {{ $json.completeness }}/100\n\nName: {{ $json.name }}\nEmail: {{ $json.email }}\nCompany: {{ $json.company }}\nMessage: {{ $json.message }}\nBudget: {{ $json.budget }}\nTimeline: {{ $json.timeline }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert lead qualification analyst for a B2B automation company. Your job is to analyze incoming lead data and assign a quality score from 1 to 100.\n\nScoring Criteria:\n- Message specificity and detail (0-25 points)\n- Budget alignment and clarity (0-20 points)\n- Timeline urgency (0-15 points)\n- Company relevance (0-15 points)\n- Data completeness provided separately (0-15 points)\n- Communication professionalism (0-10 points)\n\nCategory Thresholds:\n- Hot: 80-100\n- Warm: 50-79\n- Cold: 1-49\n\nYou MUST respond in EXACTLY this format and nothing else:\nSCORE: [number]\nCATEGORY: [Hot/Warm/Cold]\nREASON: [one sentence explanation]"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        416,
        0
      ],
      "id": "3a9a819a-69f5-44bf-8991-4bb3aad7b62d",
      "name": "AI Lead Scorer"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('AI Lead Scorer').item.json.text }}",
                    "rightValue": "CATEGORY: Hot",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "22f31baf-adc4-4e8c-b1df-f6d86242bba1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "0"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3ae53955-c5a9-444c-938c-564a8c75f227",
                    "leftValue": "={{ $('AI Lead Scorer').item.json.text }}",
                    "rightValue": "CATEGORY: Warm",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2359441a-db7c-44eb-8878-7ed8d7e24272",
                    "leftValue": "={{ $('AI Lead Scorer').item.json.text }}",
                    "rightValue": "CATEGORY: Cold",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        752,
        -32
      ],
      "id": "0f736831-1d05-4905-8b1f-38e750df8b96",
      "name": "Score Router"
    },
    {
      "parameters": {
        "sendTo": "lineshquadras@gmail.com",
        "subject": "=HOT LEAD: {{ $('Data Validator').item.json.name }} from {{ $('Data Validator').item.json.company }}",
        "message": "=<h2>Hot Lead Alert</h2>\n<table style=\"border-collapse:collapse;width:100%;font-family:Arial;\">\n<tr><td style=\"padding:8px;border:1px solid #ddd;\"><b>Name</b></td><td style=\"padding:8px;border:1px solid #ddd;\">{{ $('Data Validator').item.json.name }}</td></tr>\n<tr><td style=\"padding:8px;border:1px solid #ddd;\"><b>Email</b></td><td style=\"padding:8px;border:1px solid #ddd;\">{{ $('Data Validator').item.json.email }}</td></tr>\n<tr><td style=\"padding:8px;border:1px solid #ddd;\"><b>Company</b></td><td style=\"padding:8px;border:1px solid #ddd;\">{{ $('Data Validator').item.json.company }}</td></tr>\n<tr><td style=\"padding:8px;border:1px solid #ddd;\"><b>Budget</b></td><td style=\"padding:8px;border:1px solid #ddd;\">{{ $('Data Validator').item.json.budget }}</td></tr>\n<tr><td style=\"padding:8px;border:1px solid #ddd;\"><b>Timeline</b></td><td style=\"padding:8px;border:1px solid #ddd;\">{{ $('Data Validator').item.json.timeline }}</td></tr>\n<tr><td style=\"padding:8px;border:1px solid #ddd;\"><b>Message</b></td><td style=\"padding:8px;border:1px solid #ddd;\">{{ $('Data Validator').item.json.message }}</td></tr>\n<tr><td style=\"padding:8px;border:1px solid #ddd;\"><b>AI Analysis</b></td><td style=\"padding:8px;border:1px solid #ddd;white-space:pre-wrap;\">{{ $('AI Lead Scorer').item.json.text }}</td></tr>\n</table>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1056,
        -272
      ],
      "id": "ae8d4920-a3c3-49a8-a516-fb578ea46d9c",
      "name": "Hot Alert",
      "webhookId": "bbe0fd93-9e71-4741-9508-88c6c9b94e04",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "gmailOAuth2": {
          "id": "hq4W86zahs1arWKU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hthV_7vHW_sVrI16al8oSyYg6v896fodsKsvsnpdqe8",
          "mode": "list",
          "cachedResultName": "Lead_Qualification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hthV_7vHW_sVrI16al8oSyYg6v896fodsKsvsnpdqe8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hot_Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hthV_7vHW_sVrI16al8oSyYg6v896fodsKsvsnpdqe8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $('Data Validator').item.json.timestamp }}",
            "name": "={{ $('Data Validator').item.json.name }}",
            "email": "={{ $('Data Validator').item.json.email }}",
            "company": "={{ $('Data Validator').item.json.company }}",
            "message": "={{ $('Data Validator').item.json.message }}",
            "budget": "={{ $('Data Validator').item.json.budget }}",
            "timeline": "={{ $('Data Validator').item.json.timeline }}",
            "ai_score": "={{ $('AI Lead Scorer').item.json.text }}",
            "category": "Hot",
            "source": "={{ $('Data Validator').item.json.source }}",
            "processed": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "budget",
              "displayName": "budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timeline",
              "displayName": "timeline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_score",
              "displayName": "ai_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1264,
        -272
      ],
      "id": "d9a7f116-d824-4214-8021-355236a2ed12",
      "name": "Hot Logger",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "w2LfjeCgSXC7OBv3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Data Validator').item.json.email }}",
        "subject": "=Thanks for your interest, {{ $('Data Validator').item.json.name }}!",
        "message": "=<p>Hi {{ $('Data Validator').item.json.name }},</p>\n<p>Thank you for reaching out to us! We received your inquiry and our team is reviewing it.</p>\n<p>To help us prepare the best response, could you share a bit more about:</p>\n<ul>\n<li>Your specific requirements and use case</li>\n<li>Your expected timeline</li>\n<li>Your approximate budget range</li>\n</ul>\n<p>We'll get back to you within 24 hours with a personalized recommendation.</p>\n<p>Best regards,<br><b>NEXUS Team</b></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1168,
        -16
      ],
      "id": "05352be8-0fce-4b0d-a900-d742fc234dd2",
      "name": "Warm Email",
      "webhookId": "f835eb4f-44e9-40e2-b3d6-de2bfeb0f4f0",
      "credentials": {
        "gmailOAuth2": {
          "id": "hq4W86zahs1arWKU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hthV_7vHW_sVrI16al8oSyYg6v896fodsKsvsnpdqe8",
          "mode": "list",
          "cachedResultName": "Lead_Qualification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hthV_7vHW_sVrI16al8oSyYg6v896fodsKsvsnpdqe8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hot_Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hthV_7vHW_sVrI16al8oSyYg6v896fodsKsvsnpdqe8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $('Data Validator').item.json.timestamp }}",
            "name": "={{ $('Data Validator').item.json.name }}",
            "email": "={{ $('Data Validator').item.json.email }}",
            "company": "={{ $('Data Validator').item.json.company }}",
            "message": "={{ $('Data Validator').item.json.message }}",
            "budget": "={{ $('Data Validator').item.json.budget }}",
            "timeline": "={{ $('Data Validator').item.json.timeline }}",
            "ai_score": "={{ $('AI Lead Scorer').item.json.text }}",
            "category": "Warm",
            "source": "={{ $('Data Validator').item.json.source }}",
            "processed": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "budget",
              "displayName": "budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timeline",
              "displayName": "timeline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_score",
              "displayName": "ai_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        -16
      ],
      "id": "e98baaeb-3f15-4448-8c08-9bfe3349d37b",
      "name": "Warm Logger",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "w2LfjeCgSXC7OBv3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hthV_7vHW_sVrI16al8oSyYg6v896fodsKsvsnpdqe8",
          "mode": "list",
          "cachedResultName": "Lead_Qualification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hthV_7vHW_sVrI16al8oSyYg6v896fodsKsvsnpdqe8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hot_Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hthV_7vHW_sVrI16al8oSyYg6v896fodsKsvsnpdqe8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $('Data Validator').item.json.timestamp }}",
            "name": "={{ $('Data Validator').item.json.name }}",
            "email": "={{ $('Data Validator').item.json.email }}",
            "company": "={{ $('Data Validator').item.json.company }}",
            "message": "={{ $('Data Validator').item.json.message }}",
            "budget": "={{ $('Data Validator').item.json.budget }}",
            "timeline": "={{ $('Data Validator').item.json.timeline }}",
            "ai_score": "={{ $('AI Lead Scorer').item.json.text }}",
            "category": "Cold",
            "source": "={{ $('Data Validator').item.json.source }}",
            "processed": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "budget",
              "displayName": "budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timeline",
              "displayName": "timeline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_score",
              "displayName": "ai_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1280,
        240
      ],
      "id": "2983ef37-7ce3-4801-94fa-d757e8062f4f",
      "name": "Cold Logger",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "w2LfjeCgSXC7OBv3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hthV_7vHW_sVrI16al8oSyYg6v896fodsKsvsnpdqe8",
          "mode": "list",
          "cachedResultName": "Lead_Qualification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hthV_7vHW_sVrI16al8oSyYg6v896fodsKsvsnpdqe8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1219076810,
          "mode": "list",
          "cachedResultName": "All_Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hthV_7vHW_sVrI16al8oSyYg6v896fodsKsvsnpdqe8/edit#gid=1219076810"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $('Data Validator').item.json.timestamp }}",
            "name": "={{ $('Data Validator').item.json.name }}",
            "email": "={{ $('Data Validator').item.json.email }}",
            "company": "={{ $('Data Validator').item.json.company }}",
            "message": "={{ $('Data Validator').item.json.message }}",
            "budget": "={{ $('Data Validator').item.json.budget }}",
            "timeline": "={{ $('Data Validator').item.json.timeline }}",
            "ai_score": "={{ $('AI Lead Scorer').item.json.text }}",
            "category": "={{ $('AI Lead Scorer').item.json.text.split('\\n')[1] }}",
            "source": "={{ $('Data Validator').item.json.source }}",
            "processed": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "budget",
              "displayName": "budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timeline",
              "displayName": "timeline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_score",
              "displayName": "ai_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1696,
        -16
      ],
      "id": "efcb58f8-8de3-4e7d-b5d5-bd0a7651b16b",
      "name": "Universal Logger",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "w2LfjeCgSXC7OBv3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hthV_7vHW_sVrI16al8oSyYg6v896fodsKsvsnpdqe8",
          "mode": "list",
          "cachedResultName": "Lead_Qualification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hthV_7vHW_sVrI16al8oSyYg6v896fodsKsvsnpdqe8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1219076810,
          "mode": "list",
          "cachedResultName": "All_Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hthV_7vHW_sVrI16al8oSyYg6v896fodsKsvsnpdqe8/edit#gid=1219076810"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $('Data Validator').item.json.timestamp }}",
            "name": "={{ $('Data Validator').item.json.name }}",
            "email": "={{ $('Data Validator').item.json.email }}",
            "company": "={{ $('Data Validator').item.json.company }}",
            "message": "={{ $('Data Validator').item.json.message }}",
            "budget": "={{ $('Data Validator').item.json.budget }}",
            "timeline": "={{ $('Data Validator').item.json.timeline }}",
            "ai_score": "={{ $('AI Lead Scorer').item.json.text }}",
            "category": "=Unscored",
            "source": "={{ $('Data Validator').item.json.source }}",
            "processed": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "budget",
              "displayName": "budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timeline",
              "displayName": "timeline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_score",
              "displayName": "ai_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1104,
        432
      ],
      "id": "5342b4c2-17b8-49ab-ae77-ad9950c62a9e",
      "name": "Fallback Logger",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "w2LfjeCgSXC7OBv3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "glm-5-turbo",
          "mode": "list",
          "cachedResultName": "glm-5-turbo"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        384,
        288
      ],
      "id": "c94d1fd8-be9a-461c-9e8a-16a10e225444",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "M09Ps6LtTAlcET14",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Data Validator').item.json.email !== 'invalid' ? $('Data Validator').item.json.email : 'lineshquadras@gmail.com' }}",
        "subject": "=Quick question about your inquiry, {{ $('Data Validator').item.json.name }}",
        "message": "=<p>Hi {{ $('Data Validator').item.json.name }},</p>\n<p>Thanks for reaching out to us! We noticed your inquiry and we're genuinely interested in helping you out.</p>\n<p>To make sure we give you the most relevant recommendation, could you share a bit more about what you're looking for? Specifically:</p>\n<ul>\n<li><b>What problem are you trying to solve?</b> (the more context, the better we can help)</li>\n<li><b>Which company or organization are you with?</b> (helps us understand your scale)</li>\n<li><b>Do you have a rough budget in mind?</b> (even a range works — helps us match the right solution)</li>\n<li><b>How soon do you need this?</b> (urgency helps us prioritize)</li>\n</ul>\n<p>No need to answer all of these — even one or two details will help us tailore a response that actually fits your situation.</p>\n<p>Just reply to this email and we'll get back to you within 24 hours.</p>\n<p>Best regards,<br><b>NEXUS Team</b></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1072,
        240
      ],
      "id": "bbf8d62c-dbf1-42e2-a24e-6017a0d9b1b5",
      "name": "Cold Email",
      "webhookId": "5228e89a-09c9-422a-9245-613d53009257",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "gmailOAuth2": {
          "id": "hq4W86zahs1arWKU",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Data Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Validator": {
      "main": [
        [
          {
            "node": "AI Lead Scorer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Lead Scorer": {
      "main": [
        [
          {
            "node": "Score Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hot Alert": {
      "main": [
        [
          {
            "node": "Hot Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Router": {
      "main": [
        [
          {
            "node": "Hot Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Warm Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cold Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hot Logger": {
      "main": [
        [
          {
            "node": "Universal Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Warm Email": {
      "main": [
        [
          {
            "node": "Warm Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cold Logger": {
      "main": [
        [
          {
            "node": "Universal Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Warm Logger": {
      "main": [
        [
          {
            "node": "Universal Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Lead Scorer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Logger": {
      "main": [
        [
          {
            "node": "Universal Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cold Email": {
      "main": [
        [
          {
            "node": "Cold Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "drX8jD4X8aluMQIj",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "60d0292d-3ecb-406c-8e93-313f2998d710",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe6b9af02df823ce33322e10c132f33877f6d596de582c4279293952a2a12acb"
  },
  "id": "37z0TcC8fDx6km3l",
  "tags": []
}